<section id="c{data.uid}" class="m-modul-text m-col2 {data.tx_modul_backgroundcolor} p-6 xl:p-12 ">
    <div class="m-layout mx-auto flex flex-wrap">
        <f:if condition="{data.bodytext}">
            <div class="m-text w-full sm:w-1/2 md:pr-4  xl:pl-48 xl:pr-24 revealelem">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
            </div>
        </f:if>
        <f:if condition="{data.tx_modul_textspalterechts}">
            <div class="m-text w-full sm:w-1/2 pt-6  md:pl-4 xl:pt-0 xl:pl-12 xl:pr-6 revealelem">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_modul_textspalterechts}</f:format.html>
            </div>
        </f:if>
    </div>
</section>
