<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Empty"/>
<f:section name="Main">

    <div class="m-project-content bg-black">

        <div class="relative z-40 grid grid-cols-12">
            <div class="col-span-12 h-48 "></div>
        </div>

        <div class="section-parallax">
            <div class="relative z-40 grid grid-cols-12">
                <div class="col-span-1 "></div>
                <div class="col-span-8">
                    <div class="relative overflow-auto">
                        <div class="text-center overflow-hidden">
                            <f:image src="/fileadmin/user_upload/marcau/test/Soglio.png" width="1200"/>
                        </div>
                    </div>

                </div>
                <div class="col-span-3 "></div>
            </div>

            <div class="parallax-content relative z-20 hover:z-50 py-1 md:py-0  grid grid-cols-12  ">
                <div class="col-span-6 "></div>
                <div class="col-span-5">
                    <div class="relative overflow-auto">
                        <div class="text-center overflow-hidden">
                            <f:image src="/fileadmin/user_upload/marcau/test/3-zinnen.png" width="800"/>
                        </div>
                    </div>

                </div>
                <div class="col-span-1 "></div>
            </div>
        </div>


        <div class="section-parallax ">

            <div class="relative md:-space-y-10 z-40 py-1 md:py-0 grid grid-cols-12  ">
                <div class="col-span-3 ">01</div>
                <div class="col-span-4">
                    <div class="relative overflow-auto">
                        <div class="text-center overflow-hidden">
                            <f:image src="/fileadmin/user_upload/marcau/test/berggrad_Hochformat.png" width="500"/>
                        </div>
                    </div>

                </div>
                <div class="col-span-5 "></div>
            </div>

            <div class="parallax-content relative z-50 py-1 md:py-0 grid grid-cols-12  ">
                <div class="col-span-5 "></div>
                <div class="col-span-6">
                    <div class="relative overflow-auto">
                        <div class="text-center overflow-hidden">
                            <f:image src="/fileadmin/user_upload/marcau/test/Garten..png" width="700"/>
                        </div>
                    </div>

                </div>
                <div class="col-span-1 "></div>
            </div>
        </div>




        <div class="imgFix relative z-40 grid grid-cols-12">
            <div class="col-span-8">
                <div class="relative overflow-auto">
                    <div class="text-center overflow-hidden">
                        <f:image src="/fileadmin/user_upload/marcau/test/Bach.png" width="1200"/>
                    </div>
                </div>

            </div>
            <div class="col-span-4 "></div>
        </div>
        <div class="relative z-40 grid grid-cols-12 ">
            <div class="col-span-12 h-48 "></div>
        </div>
    </div>
</f:section>
</html>
md:-space-y-10
