<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:marcau="http://typo3.org/ns/Marcau/T3template/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="mx-auto fixed inset-x-0 top-0 z-100">
        <div class="m-logo flex justify-center ">
            <div class="text-center cursor-pointer" >
                <h3 class="pt-2 text-xl">jaromir kreiliger</h3>
                <h2 class="text-sm">fotografie</h2>
            </div>
        </div>
    </div>

    <div class="m-navigation-overlay absolute z-60">
        <div class="m-inner flex justify-center items-center h-full">

            <nav id="m-mainnav">
                <ul>
                    <li class="m-small my-6">
                        <a href="/" class="block text-center" title="Home">Home</a>
                    </li>
                    <f:for each="{mainnavigation}" as="mainnavigationItem">
                        <f:if condition="{mainnavigationItem.active}">
                            <f:then>
                                <li class="Selected font-bold" ><a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">{mainnavigationItem.title}</a></li>
                            </f:then>
                            <f:else>
                                <li><a href="{mainnavigationItem.link}" class="" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">{mainnavigationItem.title}</a></li>
                            </f:else>
                        </f:if>
                    </f:for>
                    <li class="m-small inline-block text-center my-12">
                    <f:for each="{footernavigation}" as="footernavigationItem" iteration="fniter">

                            <a class="m-12 no-underline  {f:if(condition: footernavigationItem.active, then:'Selected font-bold')}" href="{footernavigationItem.link}" {f:if(condition:footernavigationItem.target, then: ' target="{footernavigationItem.target}"')} title="{footernavigationItem.title}">
                            {footernavigationItem.title}
                            </a>

                    </f:for>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</html>
