<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:marcau="http://typo3.org/ns/Marcau/T3template/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="mx-auto fixed inset-x-0 top-0 z-100">
    <div class="m-logo2 flex justify-center ">
        <div class="text-center" >
            <h3 class="pt-1 text-xl tracking-widest">JAROMIR KREILIGER</h3>
            <h2 class="text-sm italic tracking-wider" >Fotografie</h2>
            <h2 class="mt-1 text-xs tracking-wider">Kontakt: 079 963 06 12  <a href="mailto:contact@jaromirkreiliger.ch">contact@jaromirkreiliger.ch</a></h2>
        </div>
    </div>
</div>
    <main>
        <f:render section="Main" />
    </main>
</html>
