
/* @import must be at top of file, otherwise CSS will not work */


html {
  scroll-behavior: smooth;
  hyphens: none;
}

body {
  background-color: white;
  @apply font-normal;
}

b, strong {
  @apply font-semibold;
}

main img {
  width: 100%;
}

main {
  h1,h2,h3 {
    @apply font-semibold;
  }
  h1 {
    font-size: 2.25rem;
    line-height:3.25rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height:2.3rem;
  }
  h3 {
    font-size: 1.1rem;
    line-height:1.5rem;
  }
  @screen xl {
    h1 {
      font-size: 3rem;
      line-height:4rem;
    }
    h2 {
      font-size: 2.2rem;
      line-height:3rem;
    }
    h3 {
      font-size: 1.75rem;
      line-height:2.3rem;
    }
  }
  button:focus {outline:0;}
  button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
  }
}

footer {
  p {
    @apply mt-0;
  }
  h3 {
    font-size: 1.25rem;
    line-height:1.7rem;
    @apply font-semibold;
  }
  @screen xl {
    h3 {
      font-size: 1.75rem;
      line-height:2.3rem;
    }
  }
}
/* editor h2/h3 */
.m-text > h2:not(:first-child) {
  margin-top: 2rem;
}
.m-text > h3:not(:first-child) {
  margin-top: 2rem;
}

main p, footer p {
  @apply mt-3;
  @apply text-custom-p;
  font-size: 1rem;
  line-height: 1.5rem;
  @screen xl {
    @apply mt-6;
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
}
main p {
  a {
    @apply underline;
    &:hover {
      @apply no-underline;
    }
  }
}
main .m-lead {
  @apply mt-3;
  font-size: 1.3rem;
  line-height: 1.75rem;

  @screen xl {
    @apply mt-6;
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

main {
  ul,ol {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 20px;
    li {
      font-size: 1rem;
      line-height: 1.5rem;
      a {
        @apply underline;
        &:hover {
          @apply no-underline;
        }
      }
    }
    @screen xl {
      li {
        font-size: 1.2rem;
        line-height: 1.75rem;
      }
    }
  }
}
