<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<footer class="relative ">
    <div class="flex justify-center">
        <div class="w-full md:flex md:flex-wrap py-12 xl:py-24">
            <div class="w-full md:w-1/3 xl:w-1/4 xl:relative">
                <f:if condition="{settings.logo.logofooter} == '1'">
                    <f:if condition="{settings.page.footer-background} == 'color-dunkel'">
                        <f:then>
                            <f:image class="flex-none w-auto {settings.logo.css}" src="{settings.logo.file-inverted}" alt="{settings.logo.linktitle}" title="{settings.logo.linktitle}"/>
                        </f:then>
                        <f:else>
                            <f:image class="flex-none w-auto {settings.logo.css}" src="{settings.logo.file}" alt="{settings.logo.linktitle}" title="{settings.logo.linktitle}"/>
                        </f:else>
                    </f:if>
                </f:if>
                    <p class="hidden xl:block xl:absolute xl:inset-x-0 xl:bottom-0">
                        <f:for each="{footernavigation}" as="footernavigationItem">
                            <a class="block no-underline w-full text-lg pt-2" href="{footernavigationItem.link}" {f:if(condition:footernavigationItem.target, then: ' target="{footernavigationItem.target}"')} title="{footernavigationItem.title}">
                            {footernavigationItem.title}
                            </a>
                        </f:for>
                    </p>
            </div>
            <div class="w-full md:w-1/3 xl:w-1/4 mt-12 md:mt-6 xl:mt-0">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{settings.rootPageId}', colPos: '10', slide: '-1'}" />
            </div>
            <div class="w-full md:w-1/3 xl:w-1/4 mt-12 md:mt-6 xl:mt-0">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{settings.rootPageId}', colPos: '11', slide: '-1'}" />
            </div>
            <div class="hidden xl:block xl:w-1/4 text-right">
                <f:for each="{mainnavigation}" as="mainnavigationItem">
                    <a class="block no-underline text-2xl py-1 w-full" href="{mainnavigationItem.link}" {f:if(condition:mainnavigationItem.target, then: ' target="{mainnavigationItem.target}"')} title="{mainnavigationItem.title}">
                    {mainnavigationItem.title}
                    </a>
                </f:for>
            </div>
        </div>
    </div>
</footer>

<div class="m-ie absolute top-0 left-0 w-full p-8 text-center text-white z-50">
    <p>Ihr Browser (IE 11) ist leider zu alt und wird nicht mehr unterstützt.</p>
</div>

</html>
