<section class="m-modul-topslider w-full swiper-container swiper-container__galerie">
    <div class="swiper-wrapper">
        <f:for each="{data_tx_modul_slides}" as="slide">
            <div class="m-slide swiper-slide relative">
                <div class="m-slide__inner relative ">
                    <div class="header-position flex m-slide__content">
                        <f:if condition="{slide.data.tx_modul_titel}">
                            <f:if condition="{slide.data.tx_modul_h1}">
                                <f:then>
                                    <h1 class="m-slide__title text-white relative z-10 text-center w-10/12 xl:w-8/12">{slide.data.tx_modul_titel}</h1>
                                </f:then>
                                <f:else>
                                    <h2 class="m-slide__title text-white relative z-10 text-center w-10/12 xl:w-8/12">{slide.data.tx_modul_titel}</h2>
                                </f:else>
                            </f:if>
                        </f:if>
                        <f:if condition="{slide.data.tx_modul_link}">
                            <f:link.typolink parameter="{slide.data.tx_modul_link}">
                                <button class="m-topslider-button relative z-10 m-button-inverted button-border-inverted mt-6 {settings.page.button}" >
                                    <f:if condition="{slide.data.tx_modul_link_title}">
                                        <f:then>
                                            {slide.data.tx_modul_link_title}
                                        </f:then>
                                        <f:else>
                                            mehr
                                        </f:else>
                                    </f:if>
                                </button>
                            </f:link.typolink>
                        </f:if>
                    </div>
                </div>
                <f:if condition="{slide.data_tx_modul_media.0}">
                    <f:then>
                        <f:variable name="sliderImg">{slide.data_tx_modul_media.0}</f:variable>
                        <picture>
                            <source data-variant="2xl" data-maxwidth="1600" media="(min-width: 1536px)"
                                    srcset="{f:uri.image(image: sliderImg, maxWidth: '1700',cropVariant:'desktop')}">
                            <source data-variant="xl" data-maxwidth="1300" media="(min-width: 1280px)"
                                    srcset="{f:uri.image(image: sliderImg, maxWidth: '1400',cropVariant:'desktop')}">
                            <source data-variant="lg" data-maxwidth="1100" media="(min-width: 1024px)"
                                    srcset="{f:uri.image(image: sliderImg, maxWidth: '1100',cropVariant:'desktop')}">
                            <source data-variant="md" data-maxwidth="800" media="(min-width: 768px)"
                                    srcset="{f:uri.image(image: sliderImg, maxWidth: '800',cropVariant:'desktop')}">
                            <source data-variant="sm" data-maxwidth="640"
                                    srcset="{f:uri.image(image: sliderImg, maxWidth: '500',cropVariant:'mobile')}">
                            <img class="m-slide__media m-darken m-darken__active"
                                 src="{f:uri.image(image: sliderImg, cropVariant: 'header')}"
                                 title="{sliderImg.title}" alt="{sliderImg.title}">
                        </picture>
                    </f:then>
                </f:if>
            </div>
        </f:for>
    </div>
    <div class="swiper-pagination"></div>
</section>
